@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.typewriter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 100px;
  color: rgb(0, 0, 0);
}

.typing::after {
  content: "▌";
  margin-left: 2px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 100; }
}